body{
    background-image: url("BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto, sans-serif;
    font-style: normal;
    height: 100%;
}

.top-menu {
    font-weight: 500;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin:38px 144px;
    align-items: center;
    padding: 0.75em 1.5em;
    position: relative;
  }
  
  .top-menu nav {
    display: flex;
  }
  
  .top-menu a{
    color: #fff;
    text-decoration: none;
  }

  .top-menu nav a {
    color: #fff;
    margin-left:27px;
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }

  .top-menu nav img {
      vertical-align: middle;
      margin-right:3px;
  }

  .white-block{
    width:365px;
    min-height: 470px;
    background-color: #fff;
    margin: 99px auto 0 auto; 
    border-radius: 3px;
  }

  .gradient-block {
    box-sizing: border-box;
    width: 324px;
    height: 150px;
    background: linear-gradient(90deg, #BC478F 0%, #7B1FA2 100%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin: auto;
    padding-top: 31px;
    position: relative;
    top: -39px;
  }

  .form-block {
    position: relative;
    top: -39px;
  }

  h4 {
    margin: 0;
    text-align:center;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
  }

  .social-icons{
    display: flex;
    justify-content: space-between;
    padding: 36px 94px 38px 94px;
  }

  h5{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;   
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    margin:33px 0 23px 0;
  }

.form-block form {
  width:100%;
}

.white-block form span {
  display: flex;
  align-items: center;
  margin: 10px 29px 37px 26px;
}

  .white-block form span input {
    width: 269px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #D2D2D2;
    margin-left: 15px;
  }

  .white-block form span input:focus {
  outline: none;
  }

  .white-block form button {
    border:none;
    outline: none;
    font-size: 14px;
color: #9C27B0;
background: none;
text-transform: uppercase;
text-align: center;
display: block;
margin: 0 auto 0 auto;
  } 